@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

div,
p,
span {
  font-family: 'Nunito', sans-serif;
}

button:active,
button:focus,
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
input:focus {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.pageContainer {
  display: flex;
  flex-direction: column;
}
